function Cell.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 0
pop this 4
push constant 0
pop this 3
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
pop this 8
push pointer 0
call Cell.show 1
pop temp 0
push pointer 0
return
function Cell.getX 0
push argument 0
pop pointer 0
push this 0
return
function Cell.getY 0
push argument 0
pop pointer 0
push this 1
return
function Cell.getXcenter 0
push argument 0
pop pointer 0
push this 0
push this 2
push constant 2
call Math.divide 2
add
return
function Cell.getYcenter 0
push argument 0
pop pointer 0
push this 1
push this 2
push constant 2
call Math.divide 2
add
return
function Cell.getXindex 0
push argument 0
pop pointer 0
push this 0
push this 2
call Math.divide 2
return
function Cell.getYindex 0
push argument 0
pop pointer 0
push this 1
push this 2
call Math.divide 2
return
function Cell.getSize 0
push argument 0
pop pointer 0
push this 2
return
function Cell.getSelected 0
push argument 0
pop pointer 0
push this 3
return
function Cell.getFill 0
push argument 0
pop pointer 0
push this 4
return
function Cell.getStart 0
push argument 0
pop pointer 0
push this 5
return
function Cell.getFinish 0
push argument 0
pop pointer 0
push this 6
return
function Cell.getVisited 0
push argument 0
pop pointer 0
push this 7
return
function Cell.getParent 0
push argument 0
pop pointer 0
push this 8
return
function Cell.setSelected 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.setFill 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.setStart 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.setFinish 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.setVisited 0
push argument 0
pop pointer 0
push argument 1
pop this 7
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.setParent 0
push argument 0
pop pointer 0
push argument 1
pop this 8
push constant 0
return
function Cell.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Cell.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Cell.draw 0
push argument 0
pop pointer 0
push this 4
not
push this 3
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 1
add
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 4
not
push this 3
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push this 2
add
push constant 4
sub
push this 1
push this 2
add
push constant 4
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 4
push this 3
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END2
label IF_FALSE2
push this 4
push this 3
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push this 2
add
push constant 4
sub
push this 1
push this 2
add
push constant 4
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push this 5
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cell.getXcenter 1
push pointer 0
call Cell.getYcenter 1
push constant 8
call Screen.drawCircle 3
pop temp 0
label IF_FALSE4
push this 6
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawLine 4
pop temp 0
push this 0
push this 1
push this 2
add
push this 0
push this 2
add
push this 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE5
push this 7
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push this 2
add
push constant 4
sub
push this 1
push this 2
add
push constant 4
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label IF_FALSE6
push constant 0
return
